<h2>Lista de productos real time</h2>
<p id="price2P">0
</p>
<form id="form2">
  Price:
  <input type="number" name="price" id="price2" />
  <input type="submit" value="Send" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexRealTime.js"></script>