<h3>Signup</h3>
<form action="/api/users" method="post">
  Nombre:
  <input type="text" name="first_name" id="first_name" />
  Apellido:
  <input type="text" name="last_name" id="last_name" />
  Email:
  <input type="email" name="email" id="email" />
  Clave:
  <input type="password" name="password" id="password" />
  Edad:
  <input type="number" name="age" id="age" />
  <input type="submit" value="Crear usuario" />
</form>